@model IEnumerable<Domain.ViewModels.HistoryViewModel>

<div>История изменений</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Date)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.User)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Node)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(m => item.User)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Node)
                </td>
                <td>
                    @Html.ActionLink("Compare", "CompareHistory", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
